* {
	margin: 0 auto;
	letter-spacing: 0.15em;
}

a {
	text-decoration: none;
}

.A {
	color: #FF4800;
	}
	
	.B {
		color: #FF5400;
	
	}
	.C {
		color:#FF6000;
	}
	
	.D {
		color: #FF6D00;
	}
	
	.E {
		color: #FF7900;
	}
	
	.F {
		color: #FF8500;
	}
	
	.G {
		color: #FF9100;
	}
	
	.H {
		color: #FF9E00;
	}
	
	.I {
		color: #FFAA00;
	}
	
	.J {
		color: #FFB600;
	}
	
	.side-by-side {
		display: flex;
		flex-direction: row;
		padding: 3em;
	}



/* DESKTOP VIEW*/

@media (max-width: 1200px) { 
	.nav {
		width: 100%;
		display: inline-flex;
		height: 10vh;
		align-items: center;
	}
	.nav-item {
		text-decoration: none;
		font-size: 1.25em;
		color: black;
		font-family: archivo-black, sans-serif;
	}
 }

 /* LAPTOP VIEW */
 @media (max-width: 1680px) { 
	.nav {
		width: 100%;
		display: inline-flex;
		height: 10vh;
		align-items: center;
	}
	.nav-item {
		text-decoration: none;
		font-size: 1.25em;
		color: black;
		font-family: archivo-black, sans-serif;
	}
	.home {
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		padding: 1em;
	}

	.home--title {
		font-family: cooper-black-std, serif;
		font-size: 3.5em;
	}

	.home--title-2 {
		font-size: 2em;
	}
	.home--subtitle {
		font-size: 1em;
	}
	h3{
		margin-top: 0.5em;
	}

	.about {
		background-color: black;
		color: white;
	}
	.about--title {
		font-family: archivo-black, sans-serif;
		padding: 1em;
		font-size: 1.5em;
	}

	.about--img {
		width: 25%;
	}

	.about--text {
		width: 80%;
		padding: 2em;
		font-family: 'Ubuntu Mono', monospace;
		line-height: 1.5em;
	}

	.grid {
	display: flex;
	margin: 5% 10%;
  width: 75%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
	height: auto;
	padding-bottom: 2em;
	}

	.grid__cell {
		display: flex;
		margin: 1.35em;
		height: 1em;
		width: 5em;
		flex:1;
	}

	.project--title {
		font-family: archivo-black, sans-serif;
		padding: 1em;
		font-size: 1.5em;
	}
	.project--subtitle {
		font-family: archivo-black, sans-serif;
		padding: 1em;
		font-size: 1.25em;
	}

	.container {
		position: relative;
		/* width: 50%; */
	}

	.project--img {
		display: block;
		max-width: 50%;
		height: auto;
		padding: 5%;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: black;
	}

	.container:hover .overlay {
		opacity: 1;
	}

	.text {
		color: white;
		font-size: 18px;
		font-family: 'Ubuntu Mono', monospace;
		line-height: 1.6;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%)
	}




.info {
	color: black;
}



	

	.part-1 {
		padding: 1em;
	}
	.part-2 {
		padding: 2em;
		font-family: 'Ubuntu Mono', monospace;
	}
	.part-3 {
		padding: 1em;
	}

	.contact--icons {
		text-align: center;
		padding: 1em;
	}

	.contact--text {
		padding-left: 1.3em;
	}


  }


 /* LARGE TABLET VIEW */

 @media (min-width: 768px) and (max-width: 990px) { }

 /* SMALL TABLET VIEW */

 @media (max-width: 768px) {  }

 /* MOBILE PHONE VIEW */

 @media (max-width: 500px) { 

	.nav {
		width: 100%;
		display: inline-flex;
		height: 10vh;
		align-items: center;
	}

	.nav-item {
		text-decoration: none;
		font-size: 1.25em;
		color: black;
		font-family: archivo-black, sans-serif;
	}

	.home {
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		padding: 1em;
	}

	.home--title {
		font-family: cooper-black-std, serif;
		font-size: 1.5em;
	}

	.home--title-2 {
		font-size: 1.25em;
	}
	.home--subtitle {
		font-size: 0.85em;
	}
	h3{
		margin-top: 0.5em;
	}

	.about {
		background-color: black;
		color: white;
	}
	.about--title {
		font-family: archivo-black, sans-serif;
		padding: 1em;
		
	}

	.about--img {
		width: 50%;
	}

	.about--text {
		width: 80%;
		padding: 2em;
		font-family: 'Ubuntu Mono', monospace;
		line-height: 1.5em;
	}

	.grid {
	display: flex;
  width: 90%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
	height: auto;
	}

	.grid__cell {
		display: flex;
		width: 3em;
		flex:1;
	}

	.project--title {
		font-family: archivo-black, sans-serif;
		padding: 1em;
	}
	.project--subtitle {
		font-family: archivo-black, sans-serif;
		padding: 1em;
		font-size: 0.85em;
	}

	.part-1 {
		padding: 1em;
	}
	.part-2 {
		padding: 2em;
		font-family: 'Ubuntu Mono', monospace;
	}
	.part-3 {
		padding: 1em;
	}

	.contact--icons {
		text-align: center;
		padding: 1em;
	}

	.contact--text {
		padding-left: 1.6em;
	}



 }