* {
	margin: 0 auto;
	letter-spacing: 0.15em;
}

.A {
	color: #FF4800;
	}
	
	.B {
		color: #FF5400;
	
	}
	.C {
		color:#FF6000;
	}
	
	.D {
		color: #FF6D00;
	}
	
	.E {
		color: #FF7900;
	}
	
	.F {
		color: #FF8500;
	}
	
	.G {
		color: #FF9100;
	}
	
	.H {
		color: #FF9E00;
	}
	
	.I {
		color: #FFAA00;
	}
	
	.J {
		color: #FFB600;
	}
	

/* DESKTOP VIEW*/

@media (max-width: 1200px) { 

 }

 /* LAPTOP VIEW */
 @media (max-width: 991px) { 

	
  }


 /* LARGE TABLET VIEW */

 @media (min-width: 768px) and (max-width: 990px) { }

 /* SMALL TABLET VIEW */

 @media (max-width: 768px) {  }

 /* MOBILE PHONE VIEW */

 @media (max-width: 500px) { 

	.nav {
		width: 100%;
		display: inline-flex;
		height: 10vh;
		align-items: center;
	}

	.nav-item {
		text-decoration: none;
		font-size: 1.25em;
		color: black;
		font-family: archivo-black, sans-serif;
	}

	.home {
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		padding: 1em;
	}

	.home--title {
		font-family: cooper-black-std, serif;
		font-size: 1.5em;
	}

	.home--title-2 {
		font-size: 1.25em;
	}
	.home--subtitle {
		font-size: 0.85em;
	}
	h3{
		margin-top: 0.5em;
	}

	.about {
		background-color: black;
		color: white;
	}
	.about--title {
		font-family: archivo-black, sans-serif;
		padding: 1em;
	}

	.about--img {
		width: 50%;
	}

	.about--text {
		width: 80%;
		padding: 2em;
	}

	.grid {
	display: flex;
  width: 90%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
	height: auto;
	}

	.grid__cell {
		display: flex;
		padding: 0.75em;
		height: 1.5em;
		width: 5em;
		flex:1;
	}

	.project--title {
		font-family: archivo-black, sans-serif;
		padding: 1em;
	}
	.project--subtitle {
		font-family: archivo-black, sans-serif;
		padding: 1em;
		font-size: 0.85em;
	}

	.slideshow {
		margin-bottom: 2em;
	}
	.carousel-cell {
		width: 70%;
		height: 200px;
		display: -webkit-box;
		display: -webkit-flex;
		display:         flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
						justify-content: center;
		-webkit-align-items: center;
						align-items: center;
	}
	
	.carousel-cell img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		box-shadow: 17px 15px 32px -16px rgba(0,0,0,0.75);
		/* dim unselected */
		opacity: 0.7;
		-webkit-transform: scale(0.85);
						transform: scale(0.85);
		-webkit-filter: blur(5px);
						filter: blur(5px);
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
						transition: opacity 0.3s, transform 0.3s, filter 0.3s;
	}
	
	/* brighten selected image */
	.carousel-cell.is-selected img {
		opacity: 1;
		-webkit-transform: scale(1);
						transform: scale(1);
		-webkit-filter: none;
						filter: none;
	}

	.project--text {
		text-align: center;
	}

	.part-1 {
		padding: 1em;
	}
	.part-2 {
		width: 80%;
	}
	.part-3 {
		padding: 1em;
	}

	.contact--icons {
		text-align: center;
		padding: 1em;
	}

	.contact--text {
		padding-left: 1.6em;
	}

 }